/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Tanveed Junayed Portfolio
VERSION:	1.0.0
-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.btn-outline-light {
  padding: 15px 30px;
  background: #fff;
  color: #8F979E;
  border: 1px solid #DBE6EE;
  font-weight: 300;
}

.btn-outline-light:hover {
  background: #fff;
  border-color: #333B42;
}

body {
  background: #F1F6FA;
  color: #333B42;
}

.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.headroom--unpinned {
  top: -150px;
}

@media (max-width: 991px) {
  .headroom--unpinned {
    top: 0;
  }
}

.headroom--pinned {
  top: 0;
}

.site-navigation {
  padding: 10px 30px;
  background: #F1F6FA;
  z-index: 1000;
}

.site-navigation .nav-brand {
  padding: 0;
}

.site-navigation .nav-item .nav-link {
  font-size: 18px;
  color: #132c47;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.site-navigation .nav-item:not(:last-child) .nav-link {
  padding: 15px 30px;
}

.site-navigation .nav-item:not(:last-child) .nav-link:hover {
  color: #366EFF;
}

.site-navigation .nav-item:last-child {
  margin-left: 20px;
}

.site-navigation .nav-item:last-child .nav-link {
  padding: 15px 30px;
  background: #fff;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.site-navigation .nav-item:last-child .nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #366EFF;
  z-index: -1;
  top: 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.site-navigation .nav-item:last-child .nav-link:hover {
  color: #fff;
}

.site-navigation .nav-item:last-child .nav-link:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.site-about {
  padding: 300px 0 100px;
}

.site-about-content span, .site-about-content p {
  font-size: 35px;
  font-weight: 300;
  line-height: 1.8;
}

.site-about-content span {
  color: #8F979E;
}

.site-about-content a {
  color: #366EFF;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.site-about-content a::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background: #366EFF;
  bottom: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: -1;
}

.site-about-content a:hover {
  text-decoration: none;
  color: #fff;
}

.site-about-content a:hover::before {
  height: 100%;
}

.site-project-item {
  background: #fff;
  border-radius: 20px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: flex;
  padding: 40px 40px 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.site-project-item:hover {
  -webkit-transform: scale(1.002);
          transform: scale(1.002);
  box-shadow: 0 22px 34px 0 rgba(129, 143, 151, 0.13);
}

.site-project-item:hover .site-project-item-content .btn {
  border-color: #333B42;
}

.site-project-item-content {
  width: 60%;
  padding-right: 60px;
  margin-top: 10px;
}

.site-project-item-content span {
  font-size: 13px;
  display: block;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.site-project-item-content a.title {
  font-size: 30px;
  color: #333B42;
  margin-bottom: 20px;
  font-weight: 300;
  display: inline-block;
  position: relative;
}

.site-project-item-content a.title:hover {
  text-decoration: none;
  color: #366EFF;
}

.site-project-item-content a.title:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.site-project-item-content p {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 30px;
  color: #8F979E;
  line-height: 1.8;
}

.site-project-item-image {
  width: 40%;
}

.site-project-item-image img {
  display: block;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.site-project-item:nth-child(even) .site-project-item-content {
  -webkit-box-ordinal-group: 3;
          order: 2;
  padding-right: 0;
  padding-left: 60px;
}

.site-project-item:nth-child(even) .site-project-item-image {
  -webkit-box-ordinal-group: 2;
          order: 1;
}

.site-project-single-about {
  margin-top: 250px;
}

.site-project-single-about h3 {
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 30px;
  color: #132c47;
}

.site-project-single-about p {
  width: 70%;
  color: #8B99A1;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 50px;
}

.site-project-single-meta {
  display: -webkit-box;
  display: flex;
  padding-left: 0;
  margin-bottom: 80px;
  width: 80%;
}

.site-project-single-meta li {
  list-style: none;
  -webkit-box-flex: 1;
          flex: 1;
}

.site-project-single-meta li span {
  display: block;
}

.site-project-single-meta li span.title {
  margin-bottom: 10px;
  color: #132c47;
}

.site-project-single-meta li span.info {
  font-weight: 300;
  color: #8B99A1;
}

.site-project-single-meta li span.info a {
  color: inherit;
}

.site-project-single-meta li span.info a:hover {
  color: #366EFF;
  text-decoration: none;
}

.site-project-single-images .one-col .image, .site-project-single-images .two-col .image {
  margin-bottom: 50px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.site-project-single-images .one-col .image img, .site-project-single-images .two-col .image img {
  display: block;
  width: 100%;
  -webkit-transition: inherit;
  transition: inherit;
}

.site-project-single-images .one-col .image:hover, .site-project-single-images .two-col .image:hover {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.site-project-single-images .one-col .image:hover img, .site-project-single-images .two-col .image:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.site-project-single-images .two-col {
  display: -webkit-box;
  display: flex;
}

.site-project-single-images .two-col .image {
  width: calc(50% - 25px);
}

.site-project-single-images .two-col .image:not(:last-child) {
  margin-right: 50px;
}

.site-project-next {
  background: #E1E3E9;
  text-align: center;
  padding: 200px 0;
  position: relative;
}

.site-project-next::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #366EFF;
  top: 0;
  left: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.site-project-next:hover p span, .site-project-next:hover p a {
  color: #fff;
}

.site-project-next:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.site-project-next p {
  position: relative;
  z-index: 1;
  margin-top: 80px;
  margin-bottom: 0;
}

.site-project-next p::before {
  position: absolute;
  content: 'Next Project';
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 100px;
  color: #132c47;
  left: 50%;
  top: -110px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.3;
}

.site-project-next p span {
  display: block;
  font-size: 40px;
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.site-project-next p a {
  font-size: 14px;
  text-transform: lowercase;
  font-weight: 300;
  letter-spacing: 2px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
}

.site-project-next p a::before {
  content: '';
  position: absolute;
  width: 110%;
  height: 1px;
  background: #fff;
  z-index: -1;
  top: 60%;
  left: -5%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.site-project-next p a:hover {
  text-decoration: none;
}

.site-project-next p a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.site-cta-content {
  padding: 50px 0;
  border-top: 1px dashed #8F979E;
}

.site-cta-content p {
  font-size: 35px;
  line-height: 1.5;
  margin-bottom: 50px;
  font-weight: 300;
}

.site-cta-content p a {
  color: #366EFF;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.site-cta-content p a::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background: #366EFF;
  bottom: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: -1;
}

.site-cta-content p a:hover {
  text-decoration: none;
  color: #fff;
}

.site-cta-content p a:hover::before {
  height: 100%;
}

.site-cta-social {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-cta-social li {
  display: inline-block;
}

.site-cta-social li:not(:last-child) {
  margin-right: 30px;
}

.site-cta-social li a {
  color: #333B42;
  font-size: 18px;
  font-weight: 300;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.site-cta-social li a:hover {
  text-decoration: none;
  color: #366EFF;
}

/*# sourceMappingURL=maps/style.css.map */
